{% extends "templates/template.twig" %}


{% block head %}
	<link rel="stylesheet" href="App/views/connectionRegister/connectionRegisterStyle.css">
{% endblock %}

{% block content %}
</br></br><div class="login-box">
<p>CONNEXION</p>
<form action="/processLogin" method="post">
	<div class="user-box">
		<input type="email" id="email" name="email" required autofocus><i class="validation">
			<span></span>
			<span></span>
		</i>
		<label>Adresse mail</label>
	</div>
	<div class="user-box">
		<input type="password" id="password" name="password" required><i class="validation">
			<span></span>
			<span></span>
		</i>
		<label>Mot de passe</label>
	</div>
	<input type="submit" id="login" value="SE CONNECTER">
</form>
<p>Pas encore inscris?
	<a href="/inscription" class="a2">M'inscrire</a>
</p></div>{% endblock %}
