{% extends "templates/template.twig" %}
{% block head %}
	<link rel="stylesheet" href="App/views/home/home.css">
{% endblock %}


{% block content %}

	<div id="freebet-sentence">
		<h1>FREEBET</h1>
		<div class="text">
			Parier en ligne et défier vos amis
		</div>
	</div>

	<div id="sport-title">SPORT</div>

	<div id="zone-cards">
		<a href="/football">
			<div class="card">
				<div class="first-content">
					<span>Football</span>
				</div>
				<div class="second-content">
					<span>Parier</span>
				</div>
			</div>
		</a>
		<a href="/football">
			<div class="card">
				<div class="first-content">
					<span>TENNIS</span>
				</div>
				<div class="second-content">
					<span>Parier</span>
				</div>
			</div>
		</a>
		<a href="/football">
			<div class="card">
				<div class="first-content">
					<span>F1</span>
				</div>
				<div class="second-content">
					<span>Parier</span>
				</div>
			</div>
		</a>
		<a href="/football">
			<div class="card">
				<div class="first-content">
					<span>BASKET</span>
				</div>
				<div class="second-content">
					<span>Parier</span>
				</div>
			</div>
		</a>
	</div>

	<div id="esport-title">ESPORT</div>

	<div id="zone-cards">
		<a href="/football">
			<div class="card">
				<div class="first-content">
					<span>VALORANT</span>
				</div>
				<div class="second-content">
					<span>Parier</span>
				</div>
			</div>
		</a>
		<a href="/football">
			<div class="card">
				<div class="first-content">
					<span>FORTNITE</span>
				</div>
				<div class="second-content">
					<span>Parier</span>
				</div>
			</div>
		</a>
		<a href="/football">
			<div class="card">
				<div class="first-content">
					<span>ROCKET LEAGUE</span>
				</div>
				<div class="second-content">
					<span>Parier</span>
				</div>
			</div>
		</a>
		<a href="/football">
			<div class="card">
				<div class="first-content">
					<span>LOL</span>
				</div>
				<div class="second-content">
					<span>Parier</span>
				</div>
			</div>
		</a>
	</div>
</div>{% endblock %}


{% block footer %}
	{% include "templates/footerView.twig" %}
{% endblock %}