{% extends "templates/template.twig" %}

{% block head %}
	<link rel="stylesheet" href="App/views/admin/admin.css">
{% endblock %}

{% block content %}

<div class="container-admin">
	<a href="/adminFootball">Match football</a>
</div>

{% endblock %}
