{% extends "templates/template.twig" %}

{% block head %}
	<link rel="stylesheet" href="App/views/admin/admin.css">
{% endblock %}

{% block content %}

	<a href="/adminFootball">Match football</a>


{% endblock %}
