{% extends "templates/template.twig" %}
{% block head %}
	<link rel="stylesheet" href="App/views/404/404page.css">
{% endblock %}


{% block content %}
	<div class="error-container">
		<div>
			404 ERROR
		</div>
		<div>
			<a href="/">GO BACK HOME
			</a>
		</div>
	</div>
{% endblock %}
