{% block content %}

	<div class="container" id="navbar">

		<div class="left">
			<a href='/'>FREE<span id="idk">BET</span>
			</a>
		</div>

		<div class="middle">
			<a href='/'>home</a>
			<a href='/myBets'>bet</a>
			<a href='/shop'>shop</a>
		</div>

		<div class="right">
			{% if isConnected %}
				<div id="coin">
					<div id="coinDiv" data-coin="{{ coin_user }}">{{ coin_user }}</div>
					<span id="currency">FB</span>
				</div>

				{% if isAdmin %}
					<a id='admin' href="/admin">
						🔧
					</a>
				{% endif %}
				<a href="/myAccount">
					<img src="Public/assets/images/accountLogo.png" alt="logo-acount" id="logo-acount">
				</a>

			{% else %}
				<a id='connection' href="/connection">
					CONNEXION
				</a>
			{% endif %}

		</div>
	</div>


{% endblock %}

{% block footer%}
	<script src="buttonBet.js"></script>
	<script>
		var prevScrollpos = window.pageYOffset;
window.onscroll = function () {
var currentScrollPos = window.pageYOffset;
if (prevScrollpos > currentScrollPos) {
document.getElementById("navbar").style.top = "0";
} else {
document.getElementById("navbar").style.top = "-100px";
} prevScrollpos = currentScrollPos;
}
	</script>
{% endblock %}
