<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="App/views/templates/template.css">
    {% block head %}{% endblock %}
    <title>FREEBET</title>
</head>

<body>
    {%include 'templates/headerView.twig' %}

<h2>
     {{ successMsg }}
     {{ errorMsg }}
</h2>

   
    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
</body>

</html>