body {
    background-color: #1E9A8E;
 
}

.bet-container {
    padding-top: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: 200;
}

h2 {
    font-weight: 200;
}