{% extends "templates/template.twig" %}


{% block content %}


	<div id="add-match-holder">
		<h1>Ajouter un match</h1><br>
		<form action="/processAddMatch" method="post">
			Date:
			<input type="date" name="date" required>
			<br><br>

			Etat:
			<select name="status" required>
				<option value="SCHEDULED">SCHEDULED</option>
				<option value="TIMED">TIMED</option>
				<option value="FINISHED">FINISHED</option>
			</select><br><br>
			Equipe adversaire:
			<input type="number" name="opponent-id" placeholder="Id">
			<br><br>
			<input type="submit" value="AJOUTER LE MATCH">
		</form>
	</div>

{% endblock %}
