{% block content %}
	<div id="container-allheader">
		<div id="container-header">
			<div id="container-leftheader">
				<a href="/" id="link-logo-tmt">
					<img src="/Public/assets/images/logoFreebet.png" id="logo-freebet">
				</a>
			</div>
			<div id="container-rightheader">

				<a href='/test'>
					Test</a>
				{% if isConnected %}
					<div class="wrapper">
						<div class="btn-header">
							<div id="coinDiv" data-coin="{{ coin }}" style="color:black ;">credit :
								{{ coin }}
							</div>
						</div>
					</div>
					{% if isAdmin %}
						<div class="wrapper">
							<form action="/admin">
								<button class="btn-header">
									Compte admin 🔧
								</button>
							</form>
						</div>
					{% else %}
						<div class="wrapper">
							<form action="/myAccount">
								<button class="btn-header">
									MON COMPTE
								</button>
							</form>
						</div>
					{% endif %}
					<div class="wrapper">
						<form action="/deconnection">
							<button class="btn-header">
								DECONNEXION
							</button>
						</form>
					</div>

				{% else %}
					<div class="wrapper">
						<form action="/connection">
							<button class="btn-header">
								CONNEXION
							</button>
						</form>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block footer%}
	<script src="buttonBet.js"></script>
{% endblock %}
