{% extends "templates/template.twig" %}
{% block footer %}
{% include "footerView.twig" %}
{% endblock %}

 {% block content %}
 
    <div id="freebet-sentence">
        <h1>FREEBET</h1>
        Parier en ligne et défier vos amis
    </div>

    <div id="sport-title">SPORT</div>

<div id="zone-cards">
    <div class="card">FOOT</div>
    <div class="card">TENNIS</div>
    <div class="card">F1</div>
    <div class="card">BASKET</div>
</div>

    <div id="esport-title">ESPORT</div>

<div id="zone-cards">
    <div class="card">VALORANT</div>
    <div class="card">FORTNITE</div>
    <div class="card">ROCKET LEAGUE</div>
    <div class="card">LOL</div>
</div>
 {% endblock %}
