{% extends "templates/template.twig" %}


{% block head %}
<link rel="stylesheet" href="Public/assets/styles/connectionRegisterStyle.css">
{% endblock %}

{% block content %}
</br></br>

<div class="login-box">
  <p>INSCRIPTION</p>
  <form action="/processRegister" method="post">
    <div class="user-box">
      <input type="email" id="email" name="email" required autofocus><i class="validation"><span></span><span></span></i>
      <label>Adresse mail</label>
    </div>
    <div class="user-box">
      <input type="password" id="password" name="password" required><i class="validation"><span></span><span></span></i>
      <label>Mot de passe</label>
    </div>
    
     <input type="submit" id="register" value="S'INSCRIRE">
  </form>
  <p>Déjà inscris? <a href="/connection" class="a2">Me connecter</a></p>
</div>

{% endblock %}