{% extends "templates/template.twig" %}


{% block head %}
<link rel="stylesheet" href="Public/assets/styles/connectionRegisterStyle.css">
{% endblock %}

{% block content %}
</br></br>
<div id="register-form-wrap">
    <h2>Inscription</h2>
    <form id="register-form" action="/processRegister" method="post">
        <p>
            <input type="email" id="email" name="email" placeholder="Adresse mail" required autofocus><i class="validation"><span></span><span></span></i>
        </p>
        <p>
            <input type="password" id="password" name="password" placeholder="Mot de passe" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
            <input type="submit" id="register" value="S'INSCRIRE">
        </p>
    </form>
    <div id="create-account-wrap">
        <p>Déjà inscris? <a href="/connection">Me connecter</a>
        <p>
    </div>
</div>

{% endblock %}